.number {
  font-size: 75px;
  text-align: center;
}

/* always show arrow buttons on value textbox */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
    
    -webkit-appearance: "Always Show Up/Down Arrows";
    
}

.itemDataContainer {
  display: flex;
}

.tableheader {
  font-size: medium;
}

#itemvalue {
  padding-left: 30px;
}

.groupheader {
  font-weight: bold;
}

.icontrash {
  display: block;
  margin: auto;
  width: 20px;
  height: 20px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}